$light-font: #ececec;
$list-background-color: #ececec;
$primary-background: #00429c;


$stats-red-color: #db4949;
$stats-white-color: white;
$stats-purple-color: #b054df;
$stats-blue-color: #3f3ef8;
$stats-green-color: #3aa939;
$stats-yellow-color: #fffe54;
$stats-black-color: #2d2d2d;

$stats-cell-opacity: 0.2;
