#stats {
  display: flex;
  flex-direction: column;

  .stats-header {
    display: inline-block;
    min-width: 62px;
    min-height: 48px;
    padding: 0;
  }

  .table {
    tr,td,th {
      border: none;
    }
    td,th {
      vertical-align: middle;
      text-align: center;
    }

    @include point-type-list('.stats-header', 'header');
    @include point-type-list('.stats-cell', 'cell', true, $stats-cell-opacity);

  }

  .image-header {
    display: flex;
    align-items: center;

    img {
      max-width: 52px;
      max-height: 38px;
      object-fit: contain;
      padding: 5px;
      margin: 5px;
    }
  }
}
