<main id="game">
  <section id="user-header">
    <app-user-header [game]="currentGame" [inGame]="playerInGame" [user]="user" (leave)="onLeave($event)"></app-user-header>
  </section>
  <section id="game-content">
    <app-available-games *ngIf="!playerInGame" [currentGame]="currentGame" (joinClick)="onJoinClick($event)"></app-available-games>
    <app-running-game *ngIf="playerInGame && currentGame" [currentGame]="currentGame" [user]="user" (finished)="onFinished($event)"></app-running-game>
  </section>
</main>
