<div id="available-games" class="w-100" *ngIf="gameLoaded; else loading">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
            <app-game-form-control  *ngFor="let component of gameComponents" [formControl]="component.formControl"
                                   placeholder="{{component.placeholder}}" color="{{component.colorClass}}"
                                   imageUrl="{{component.imageUrl}}"
                                   pointType="{{component.pointType}}" (pointUpdate)="onPointChange($event)">
              <ng-container *ngIf="component.pointType === 7">
                <div class="col-auto">
                  <button class="btn btn-sm btn-success" (click)="calculateScience()"><fa-icon [icon]="faCalculator"></fa-icon> </button>
                </div>
              </ng-container>
            </app-game-form-control>
        <div class="row mt-2">
          <div class="col">
            <div class="game-form-control input-group">
              <div class="input-group-prepend">
                <div class="input-group-text white d-flex justify-content-center">
                  ∑
                </div>
              </div>
              <input disabled [value]="total" class="form-control">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="card">
    <div class="card-body d-flex justify-content-center align-items-center">
      <app-lds-roller></app-lds-roller>
    </div>
  </div>
</ng-template>
